@import 'form-ui/toggle';
@import 'form-ui/radios';
@import 'form-ui/checkboxes';

[class^='form-group form-ui-'] {
  margin: 0;

  label, input, div {
    margin: 0;
  }

  [id*='-described-by'] {
    margin-top: 10px;
  }

  &.form-ui-toggle {
    @include form-ui-toggle;
  }

  &.form-ui-radios {
    @include form-ui-radios;
  }

  &.form-ui-checkboxes {
    @include form-ui-checkboxes;
  }
}
