@mixin form-ui-radios () {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li label {
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
    }
  }
  li:not(:first-of-type) {
    margin-top: 10px;
  }
}
